.image-container div {
  display: inline-block;
  display: none;
}

.image-container img {
  width: 100%;
  height: auto;
}

.previous-image {
  text-align: right;
  cursor: pointer;
  vertical-align: middle;

}
.next-image {
  cursor: pointer;
  vertical-align: middle;
}

.filled {
    width:100%;
    height:100%;
    min-height:100%;
}