<!doctype html>

<head>
    <meta charset="utf-8"/>
    <title>Galeria de Imagens</title>

    <!-- Globo.com Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href='{{ STATIC_URL }}css/custom.css' rel='stylesheet' type='text/css'>

</head>
<body>

    <div id="wrap">
        <div class="container">
            <div class="page-header">
                  <div>
                    <ul class="pull-right">
                      <a href="/">Galeria</a> /
                      <a href="{% url 'manage' %}">Adicionar Imagem</a> /
                      <a href="{% url 'list' %}">Gerenciar</a>
                    </ul>
                    <h3 class="muted">Galeria de Imagens</h3>
                  </div>
            </div>

            {% block content %}
            {% endblock %}

        </div> <!-- /container -->
    </div>

</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/slide.js"></script>


</html>
