{% extends "base.html" %}
{% block content %}



<section>

    <div class="row-fluid">
        <div class="span2 filled">
            <div class="previous-image">
                <img src="{{ STATIC_URL }}img/seta_esquerda.jpg" class="prev">
            </div>
        </div>

        <div class="span8">
            <div class="image-container">
                {% for image in list %}
                    <div>
                        <img src="{{ image.get_url }}"/>
                        Imagem {{ forloop.counter }} de {{ total }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="span2 filled">
            <div class="next-image">
                <img src="{{ STATIC_URL }}img/seta_direita.jpg" class="next">
            </div>
        </div>
    </div>


</section>



{% endblock %}