{% extends "base.html" %}
{% block content %}


<div class="page-header">
  <h1>Imagens</h1>
</div>


<table class="table">
    <thead>
        <tr>
            <th class="span10">Título</th>
            <th class="span1">Editar</th>
            <th class="span1">Excluir</th>
        </tr>
    </thead>

    {% for image in list %}
    <tr>
        <td>{{ image.title|title }}</td>
        <td><a href="{% url 'manage' image.pk %}"<i class="icon-pencil"></i> </a></td>
        <td><a href="{% url 'delete' image.pk %}"<i class="icon-trash"></i> </a></td>
    </tr>
    {% endfor %}

</table>


{% endblock %}