{% extends "base.html" %}
{% block content %}

<div class="page-header">
  <h1>{{ title }}</h1>
</div>


{% if success %}
<div class="clearfix">
    <strong>
        Dados salvos com sucesso. Você pode enviar mais imagens clicando <a href="{% url 'manage' %}">aqui</a>.
    </strong>
</div>
<br>
{% else %}

<div class="form">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="clearfix">
            <label>Título: </label>
            <input type="text" name="{{ form.title.html_name }}" id="{{ form.title.auto_id }}" value="{{ form.title.value|default:"" }}"/>
            {{ form.title.errors }}
        </div>

        <br/>

        <div class="clearfix">
            <label>Imagem: </label>
            <input type="file" name="{{ form.image.html_name }}" id="{{ form.image.auto_id }}"/>
            {{ form.image.errors }}
        </div>

        <br/>

        <div class="clearfix">
            <button type="submit">Enviar</button>
        </div>

    </form>
</div>
{% endif %}

{% endblock %}